<!-- 등록된 과제 내용 상세히 보기, 여기서 과제 제출 버튼도 존재 -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>STUDY WORK</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="/../css_assignment_admin.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<script src="http://code.jquery.com/jquery-latest.js"></script>
    
</head>
<body>
	<!-- 메인 페이지 상단 부분 -->
	<header class="header" style="margin-top:15px;">
		<div style="background-color:#afd5ef; height:90px;">
			<img src="studywork.png" style="height:100px; width:100px; float:left;">
			<div style="font-size:50px; line-height:185%;">
				<b>STUDY WORK</b>
			</div>
		</div>
	</header>

	<!-- 왼쪽 부분  -->
	<nav class="nav">
	<!-- 내 정보 -->
	<div style="margin-top:50px; margin-left:125px; font-size:25px;">
		<img>
		<p>ㅇㅇㅇ교수님 <input type="submit" value="로그아웃" style="font-size:20px; margin-left:15px;">
		</p>
		
	</div>
	
	<div class="menu" style="margin-top:50px; margin-left:125px; ">
		<select id="list1" style="font-size:25px; width:150px;">
			<option value="class1" selected>수업 이름</option>
			<option value="class2">수업 이름2</option>
			<option value="class3">수업 이름3</option>
			<option value="class4">수업 이름4</option>
		</select>		
	</div>	
	
	
	<div style=" margin-left:125px; margin-bottom:100px;"> 
		<div class="dropdown" style=" font-size:25px; width:150px;"> 
			<button class="btn-white btn dropdown-toggle" data-toggle="dropdown"> 과제 목록 </button> 
                  <div class="dropdown-menu"> 
					<a class="dropdown-item"  href="./grade">성적 확인</a> 
					<a class="dropdown-item"  href="./qna">질의 응답</a> 
					<a class="dropdown-item"  href="./chatting">채팅 하기</a> 
                  </div> 
         </div> 
</div> 
	
	</nav>
	
	<!-- 오른쪽 부분 -->
	<section class="section">
	<div style="width:975px; height: 580px; background:white;">
		<!-- 출석, 시험 부분 연결하기 -->
		<input type="button" onClick="location.href='./grade/attendance'" value="출석" style=" border:0px; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:100px; background-color:#afd5ef;">
		<input type="button" onClick="location.href='./assignment'" value="과제" style=" border:0px; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:100px; background-color:#7bc0f1;">
		<input type="button" onClick="location.href='./grade/test'" value="시험" style=" border:0px; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:100px; background-color:#afd5ef;">	
	
	<div>
		<!-- 과제 상세 보기 -->
		<div style="text-align:center; line-height:185%; border:0px; font-size:20px; border-radius: 0.5em; margin-left:25px; margin-top:15px; width:925px; height:40px; background-color:#e0e0e0;">과제 상세 보기</div>
		
		<!-- 과제 제목 -->
		<div style="float:left; margin-top:10px;">
			<div style="text-align:center; line-height:185%; border:0px; font-size:20px; border-radius: 0.5em; margin-left:25px; margin-top:15px; width:115px; height:40px; background-color:#e0e0e0;">과제 제목</div>
		</div>
		<div style="text-align:center; line-height:205%; float:left; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:785px; height:50px; background-color:white;">db에서 과제 제목 연결</div>

	<!-- 과제 제출 일자 -->
	<div style="float:left;">
		<div style="float:left; text-align:center; line-height:185%; border:0px; font-size:20px; border-radius: 0.5em; margin-left:25px; margin-top:15px; width:115px; height:40px; background-color:#e0e0e0;">제출 일자</div>
		
		<div style="float:left;">
			<div style="text-align:center; line-height:185%; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:100px; height:40px; background-color:white;">시작일</div>
		</div>
		<div style="float:left;">
			<div style="text-align:center; line-height:185%; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:240px; height:40px; background-color:white;">db에서 시작 날짜 연결</div>
		</div>
		
		
		<div style="float:left;">
			<div style="text-align:center; line-height:185%; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:100px; height:40px; background-color:white;">종료일</div>
		</div>
		<div style="float:left;">
			<div style="text-align:center; line-height:185%; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:240px; height:40px; background-color:white;">db에서 종료 날짜 연결</div>
		</div>
		
	</div>
	<!-- 성적 공개 날짜 -->
	<div style="float:left;">
		<div style="float:left;">
			<div style="text-align:center; line-height:185%; border:0px; font-size:20px; border-radius: 0.5em; margin-left:25px; margin-top:15px; width:115px; height:40px; background-color:#e0e0e0;">성적 공개</div>
		</div>
		<div style="float:left">
			<div style="text-align:center; line-height:185%; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:240px; height:40px; background-color:white;"><small>db에서 성적 공개 날짜 연결</small></div>
		</div>
	</div>
	
	<!-- 과제 설명 -->
	<div style="float:left;">
		<div style="float:left;">		
			<div style="text-align:center; line-height:185%; border:0px; font-size:20px; border-radius: 0.5em; margin-left:25px; margin-top:15px; width:115px; height:40px; background-color:#e0e0e0;">과제 설명</div>
		</div>
		<div style="float:left;">
			<div style="text-align:center; line-height:185%; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:15px; width:785px; height:80px; background-color:white;">db에서 과제 설명 연결</div>
		</div>	
	</div>	
	
	<!-- 첨부 파일 -->
	<div style="float:left;">
		<div style="text-align:center; line-height:185%; border:0px; font-size:20px; border-radius: 0.5em; margin-left:25px; margin-top:15px; width:115px; height:40px; background-color:#e0e0e0;">첨부 파일</div>
		
	</div>

   	<div style="float:left;">
			<div style="margin-left:20px; border:1px solid #e0e0e0; font-size:20px; border-radius: 0.5em; margin-top:15px; width:785px; height:100px; background-color:white;">
			첨부파일 자리
			</div>    
	</div>
	
		
	</div>		
	
	<!-- 취소, 등록 버튼  -->
	<div>
		<div style="float:left;">
			<input type="button" onClick="location.href='./assignment'" value="취소" style=" border:0px; font-size:20px; border-radius: 0.5em; margin-left:400px; margin-top:25px; width:100px; height:40px; background-color:#e0e0e0;">
			<input type="button" onClick="location.href='./assignment/upload'" value="제출" style=" border:0px; font-size:20px; border-radius: 0.5em; margin-left:15px; margin-top:25px; width:100px; height:40px; background-color:#7bc0f1;">		
		</div>
				
	</div>
	
	</div>
	</section>

	<!-- 메인 페이지 하단 부분 -->
	<footer class="footer">
		<div style="color:#333333; font-size:10px; padding-left:15px;">
		<br>
		서울캠퍼스 04620 서울특별시 중구 필동로 1길 30 동국대학교<br>
		바이오메디캠퍼스 10326 경기도 고양시 일산동구 동국로32 동국대학교 바이오메디캠퍼스 <br>
		TEL 02-2260-3114 FAX 02-2277-1274<br>
		Copyright(c) 2016 DONGGUK UNIVERSITY. ALL RIGHTS RESERVED.<br>
		</div>
	</footer>

</body>
</html>
