<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>STUDY WORK</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/../css_chattingroom.css" type="text/css" rel="stylesheet">
</head>
<body>
	<!-- 상단 자리 -->
	<header class="header" style="margin-top:15px;">
		<div style="background-color:#afd5ef; height:90px;">
			<img src="/../studywork.png" style="height:100px; width:100px; float:left;">
			<div style="font-size:50px; line-height:185%;">
				<b>STUDYWORK</b>
				<span style="font-size:40px; float:center;">
					소프트웨어 공학 - CSE1234
				</span>
			</div>

		</div>
	</header>
	
	<!-- 왼쪽 자리 -->
	<nav class="nav">
		<!-- 메뉴 목록 -->
		<div class = "boxplus" style="margin-left:50px; font-size: 1.5em; margin-top:10px; ">
			<center>참가자</center>
			<ol style = "margin-top:25px; font-size:0.8em;">
				<li>최은만(호스트)</li>
				<li>박재현(나)</li>
				<li>이초록</li>
				<li>황희윤</li>
				<li>이서연</li>
			</ol>
		</div>
		<div class = "boxplus" style="margin-left:50px; font-size: 1.5em; margin-top:10px; ">
			<center>오프라인</center>
			<ol style = "margin-top:25px; font-size:0.8em;">
				<li>없음</li>
			</ol>
		</div>

	</nav>
	
	<!-- 학습 목차  -->
	<section class="section">
		<div class="chatting">
			박재현(나) : 안녕하세요 (11:30)<br>
			최은만(교수) : 안녕하세요 (11:31)
		</div>
	</section>

	<div class="textInput">
		<select name="target" id="targetUser" style="height:45%; width: 10%;">
		  <option value="broadcast">모두에게</option>
		  <option value="2015112172">이초록</option>
		  <option value="2018111111">이서연</option>
		  <option value="2017111111">황희윤</option>
		</select>
		<input type="text" id="chattinginput" value='' placeholder="메세지를 입력하세요" class="form-control" style="height:35%; width: 69%;" />
		<input type="submit" id="sendBtn" value='보내기' placeholder="sendBtn" class="form-control" style="background-color:#9acdef; height:45%; width: 10%; border:0px;" />
	</div>


</body>
</html>