<table class="table">
	<thead>
	  <tr>
		<th>시험 종류</th> <th>시험 기간</th>
		<th>시험 여부</th> <th>평가 점수</th>		
	  </tr>
	</thead>
	<tbody>
  	<% tests.forEach(function(val){ %>
	<tr>
		<td><%=val[0]%></td> <td><%=val[1]%></td> <td><%=val[2]%></td> <td><%=val[3]%></td>
	</tr>
	<% }) %>
	</tbody>
</table>
