<table class="table">
	<thead>
	  <tr>
		<th>과제 제목</th> <th>제출 마감</th>
		<th>제출 여부</th> <th>평가 점수</th>
	  </tr>
	</thead>
	<tbody>
  	<% attendances.forEach(function(val){ %>
	<tr>
		<td><%=val[0]%></td> <td><%=val[1]%></td> <td><%=val[2]%></td> <td><%=val[3]%></td> 
	</tr>
	<% }) %>
	</tbody>
</table>
