<div style="font-size:25px; margin-top:30px; margin-left:50px;">
	<%=name%>님 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="submit" value="로그아웃" style="color:#ffffff; background-color:#9acdef; border:0px; font-size:20px;" onClick = "location.href='./login/out'">
</div>