<div style="margin-top:70px; margin-left:50px; ">
	<div style="color:#ffffff; background-color:#3498db; border:0px; font-size:30px; border-radius: 2em; width:80%;" onClick = "location.href='../'">
		<center>강의 목록</center>
	</div>
	<br>
	<div style="color:#ffffff; background-color:#3498db; border:0px; font-size:30px; border-radius: 2em; width:80%;" onClick = "location.href='../grade'">
		<center>성적 확인</center>
	</div>
	<br>
	<div style="color:#ffffff; background-color:#3498db; border:0px; font-size:30px; border-radius: 2em; width:80%;" onClick = "location.href='../assignment'">
		<center>과제 확인</center>
	</div>
	<br>
	<div style="color:#ffffff; background-color:#3498db; border:0px; font-size:30px; border-radius: 2em; width:80%;" onClick = "location.href='../qna'">
		<center>질의 응답</center>
	</div>
	<br>
	<div style="color:#ffffff; background-color:#3498db; border:0px; font-size:30px; border-radius: 2em; width:80%;" onClick = "location.href='../chatting'">
		<center>채팅 하기</center>
	</div>
</div>