html,body{
	margin:0;
	padding:0;
	height:100%;
	background-color:#ececec;
}
.header{
	width:95%;
	height:15%;
	margin-left:3%;
	margin-right:3%;
}
.nav{
	width:20%;
	height:70%;
	float:left;
}
.section{
	width:70%;
	height:65%;
	float:left;
	background:#d7d8d9;
	margin:10px;
}
.boxplus{
	width:80%;
	height:45%;
	float:left;
	background:#ffffff;
}
.aside{
	width:30%;
	height:70%;
	float:left;
	background:#d7d8d9;
	margin:10px;
}

.chatting{
	font-size:1em;
	margin-left:20px;
	margin-top:20px;
}
.textInput{
	width:77%;
	height:10%;
	float:bottom;
	margin-left:21%;
}